body {
  padding-top: 90px;
  color: rgb(253, 255, 194);
}
.header {
  display: flex;
  background-color: #1b2127;
  color: rgb(253, 255, 194);
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
.container {
  display: inherit;
  width: 90%;
  margin: 0 auto;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
.menu {
  height: inherit;
}
ol {
  display: flex;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header a {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: rgb(253, 255, 194);
  height: inherit;
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
  font-size: 20px;
}
header ol li {
  height: inherit;
}
.hero {
  height: 300px;
  display: flex;
  background-color: #eaf0ff;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3%;
}
h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: black;
  margin: 0;
}
.hero img {
  width: auto;
  height: 95%;
  border-radius: 50%;
  border: 5px solid grey;
  box-shadow: 11px -8px 72px -8px rgba(0, 0, 0, 0.75);
}
.education {
  margin: 20px;
  border-radius: 20px;
  width: inherit;
  height: auto;
  display: block;
  background-color: #eaf0ff;
  padding: 0px 3%;
  color: black;
}
.item {
  margin: 20px;
  display: grid;
  grid-template: 20% 1fr 1fr/ 15% 60% 20%;
  grid-template-areas: 'durat eduschool logo' '. descrip logo' '. descrip logo';
  border-radius: 5px;
}
.durat {
  grid-area: durat;
}
.eduschool {
  grid-area: eduschool;
}
.edutitle {
  grid-area: edutitle;
}
.logo {
  grid-area: logo;
  display: block;
  justify-self: center;
  height: minmax(200px, 300px);
  width: minmax(300px, 350px);
}
.any img {
  width: 100%;
}
.descrip {
  grid-area: descrip;
}
