@font-face {
  font-family: 'icomoon';
  src:  url('icons/fonts/icomoon.eot?cg2q3b');
  src:  url('icons/fonts/icomoon.eot?cg2q3b#iefix') format('embedded-opentype'),
    url('icons/fonts/icomoon.ttf?cg2q3b') format('truetype'),
    url('icons/fonts/icomoon.woff?cg2q3b') format('woff'),
    url('icons/fonts/icomoon.svg?cg2q3b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
i{
  display: none;
}
body {
  margin: 0px;
  padding: 0px;
}

ol,ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  background: #1b2127;
  justify-content: space-between;
  color: antiquewhite;
  align-items: center;
  height: 12vh;
}

header nav {
  height: inherit;
}

header nav ol {
  display: flex;
  height: inherit;
  align-items: center;
}

header ol li {
  height: inherit;
}

header a {
  display: flex;
  height: inherit;
  color: antiquewhite;
  text-decoration: none;
  padding: 0px 1vw;
  align-items: center;
}

.hero{
  display: flex;
  background: #eaf0ff;
  height: 300px;
  align-items: center;
  padding: 0px 1vw;
  margin-bottom: 10px;
}

.hero-resume{
  align-items: center;
}

.hero figure {

}

.hero figure img {
  width: 250px;
  height: 250px;
  border: 5px solid #1b2127;
  border-radius: 125px;
}

.container {
  border: 1px solid #1b2127;
  border-radius: 10px;
}



.item-logo {
  width: 30vh;
  height: auto;
}

